<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:name="com.demo.application.MainApplication"
        android:theme="@style/Theme.demo">
        <activity
            android:name="com.demo.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/MyTheme"/>
        <activity
            android:name="com.demo.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demo.activities.ConnectActivity"
            android:exported="true"
            android:theme="@style/MyTheme"/>
        <activity
            android:name="com.demo.usermodule.userdashboard.ListenerProfileDetailActivity"
            android:exported="true"

            android:theme="@style/Theme.demo.NoActionBar"/>
        <activity
            android:name="com.demo.usermodule.userdashboard.PlayMusicActivity"
            android:exported="true"
            android:theme="@style/MyTheme">

        </activity>
        <activity
            android:name="com.demo.usermodule.userdashboard.UserFilterActivity"
            android:exported="true"

            android:theme="@style/Theme.demo.NoActionBar">

        </activity>
        <activity
            android:name="com.demo.usermodule.auth.UserLoginActivity"
            android:exported="true"
            android:theme="@style/MyTheme"/>
        <activity
            android:name="com.demo.usermodule.auth.UserSignupActivity"
            android:exported="true"
            android:theme="@style/MyTheme"/>
        <activity
            android:name="com.demo.usermodule.auth.UserOtpActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar"/>
        <activity
            android:name="com.demo.usermodule.setting.NotificationActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar"/>
        <activity
            android:name="com.demo.usermodule.setting.PrivacyPolicyActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar"/>
        <activity
            android:name="com.demo.usermodule.setting.RaiseTicketActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar"/>
        <activity
            android:name="com.demo.usermodule.setting.ReferEarnActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar"/>
        <activity
            android:name="com.demo.usermodule.setting.ReportProblem"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar"/>
        <activity
            android:name="com.demo.usermodule.setting.TermsConditionsActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar"/>
        <activity
            android:name="com.demo.usermodule.auth.UserCategorySelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar">
        </activity>
        <activity
            android:name="com.demo.usermodule.chat.ChatActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar">
        </activity>
        <activity
            android:name="com.demo.usermodule.wallet.ApplyCouponActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar">
        </activity>


        <activity
            android:name="com.demo.usermodule.auth.UserGenderSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar">

        </activity>
        <activity
            android:name="com.demo.listenermodule.settings.ListenerProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar">

        </activity>
        <activity
            android:name="com.demo.listenermodule.settings.RatingReviewActivity"
            android:exported="true"
            android:theme="@style/Theme.demo.NoActionBar">

        </activity>
        <activity
            android:name="com.demo.usermodule.userdashboard.UserDashboardActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.demo.NoActionBar">

        </activity>
        <activity
            android:name="com.demo.listenermodule.listnerdashboard.ListenerDashboardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.demo.NoActionBar"/>
        <activity
            android:name="com.demo.listenermodule.auth.ListenerApplyingHelpActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.demo.NoActionBar"/>
        <activity
            android:name="com.demo.listenermodule.auth.ListenerApplyingHelpActivity2"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.demo.NoActionBar">


        </activity>
        <service android:name="com.demo.usermodule.userdashboard.SampleForegroundService"
            android:exported="true" android:enabled="true"/>

        <receiver android:name="com.demo.usermodule.userdashboard.eventhandler.MusicBroadCastReciever" android:exported="true">
            <intent-filter>
                <action android:name="Music_Action"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>